@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';

.text {
    width: auto;
    padding: $spacing-none;
    margin: $spacing-none;

    &.primary {
        color: $color-primary;
    }

    &.secondary {
        color: $color-secondary;
    }

    &.p,
    &.span {
        &.s {
            font-size: $font-size-s;
        }

        &.m {
            font-size: $font-size-m;
        }

        &.l {
            font-size: $font-size-l;
        }

        &.xl {
            font-size: $font-size-xl;
        }
    }

    &.h1,
    &.h2,
    &.h3,
    &.h4 {
        &.s {
            font-size: $header-size-s;
        }

        &.m {
            font-size: $header-size-m;
        }

        &.l {
            font-size: $header-size-l;
        }

        &.xl {
            font-size: $header-size-xl;
        }
    }

    &.line {
        white-space: nowrap;
    }

    @include mobile-breakpoint {
        &.h1,
        &.h2,
        &.h3,
        &.h4 {
            &.s {
                font-size: $header-size-s;
            }

            &.m {
                font-size: $header-size-s;
            }

            &.l {
                font-size: $header-size-m;
            }

            &.xl {
                font-size: $header-size-l;
            }
        }
    }
}
