/** MAIN */
$color-primary: #4a4a4a;
$color-secondary: #ffffff;
$color-highlight: rgba(211, 84, 0, 1);
$color-error: #c0392b;

$color-primary-shadow: rgba(149, 165, 166, 1);
$color-secondary-shadow: #4a4a4a;

$color-overlay: rgba(149, 165, 166, 0.5);
$color-disabled: #7f8c8d;

$color-primary-background: rgba(255, 255, 255, 1);
$color-secondary-background: rgba(44, 62, 80, 1);

$color-primary-border: $color-primary;
$color-secondary-border: $color-secondary;
