@import '../common/sass/colors.scss';
@import '../common/sass/metrics.scss';
@import '../common/sass/mixins/flex.scss';

$title-height: 30%;
$form-height: 40%;
$register-height: 30%;
$element-spacing: $spacing-m;

.login,
.register {
    height: 100%;
    @include flex(center, center, column);
    .title {
        @include flex(center, flex-end, column);
        height: $title-height;
        .text {
            margin-bottom: $element-spacing;
        }
    }
    .form {
        @include flex(center, center, column);
        height: $form-height;
        input,
        button {
            margin-bottom: $element-spacing;
            min-width: 25vw;
        }
    }
    .navigation {
        @include flex(center, flex-start, column);
        height: $register-height;
        .divider-with-text {
            margin-bottom: $element-spacing;
        }
    }
}
