@import '../../common/sass/colors.scss';
@import '../../common/sass/metrics.scss';
@import '../../common/sass/mixins/flex.scss';

.navbar {
    @include flex(flex-start, flex-start, column);
    border-right: 1px solid $color-primary-border;
    max-width: $navbar-width;
    width: 100%;
    height: $navbar-height;
    .content {
        padding: $spacing-xs;
        box-sizing: border-box;
        height: $navbar-content-height;
    }
    .profile {
        padding: $spacing-xs;
        box-sizing: border-box;
        height: $navbar-profile-height;
        background-color: $color-secondary-background;
        width: 100%;
    }
}
