@import '../../common/sass/colors.scss';
@import '../../common/sass/metrics.scss';
@import '../../common/sass/mixins/flex.scss';
@import '../../common/sass/mixins/section.scss';

$element-spacing: $spacing-m;

.login,
.signup {
    height: 100%;
    @include flex(center, center, column);
    @include section(null, true, false);
    .title {
        @include flex(center, flex-end, column);
        margin-bottom: $spacing-l;
        .text {
            margin-bottom: $element-spacing;
        }
    }
    .form {
        @include flex(center, center, column);
        margin-bottom: $spacing-xxl;
        input,
        button {
            margin-bottom: $element-spacing;
            min-width: 25vw;
        }
    }
    .navigation {
        @include flex(center, flex-start, column);
        .divider-with-text {
            margin-bottom: $element-spacing;
        }
    }
}
