@import '../../common/sass/colors.scss';
@import '../../common/sass/metrics.scss';
@import '../../common/sass/mixins/flex.scss';
@import '../../common/sass/mixins/section.scss';

$element-spacing: $spacing-m;
$desktop-width: 40%;
$tablet-width: 60%;
$mobile-width: 100%;

.login,
.signup {
    height: 100%;
    @include flex(center, center, column);
    padding: $default-app-spacing 0;
    .title {
        @include flex(center, flex-end, column);
        margin-bottom: $spacing-l;
        .text {
            margin-bottom: $element-spacing;
        }
    }
    .form {
        @include flex(center, center, column);
        margin-bottom: $spacing-xxl;
        width: $desktop-width;
        div,
        button {
            width: 100%;
            margin-bottom: $element-spacing;
        }
    }
    .navigation {
        @include flex(center, flex-start, column);
        width: $desktop-width;
        .divider-with-text {
            margin-bottom: $element-spacing;
        }
    }
    @include tablet-breakpoint {
        .form,
        .navigation {
            width: $tablet-width;
        }
    }
    @include mobile-breakpoint {
        .form,
        .navigation {
            width: $mobile-width;
        }
    }
}
