@import '../../common/sass/colors.scss';
@import '../../common/sass/metrics.scss';
@import '../../common/sass/mixins/flex.scss';
@import '../../common/sass/mixins/section.scss';

$navbar-item-padding: $spacing-m;

header {
    @include flex(center, flex-start, row);
    height: $height-l;
    .navbar {
        @include flex(center, flex-start, row);
        width: 100%;
        .logo {
            @include flex(center, center, row);
            height: 100%;
        }
        .links {
            @include flex(center, flex-end, row);
            height: 100%;
            width: 100%;
            a {
                padding: 0 $navbar-item-padding 0 0;
                &:last-of-type {
                    border-right: 1px solid $color-primary-border;
                }
            }
        }
        .profile {
            @include flex(center, center, row);
            height: 100%;
            a {
                padding: 0 0 0 $navbar-item-padding;
            }
        }
    }
}
