@import '../../../common/sass/colors.scss';
@import '../../../common/sass/metrics.scss';

.button {
    border: none;
    border-radius: $border-radius-s;
    padding: $spacing-xxs $spacing-s;
    height: $height-m;
    box-sizing: border-box;
    cursor: pointer;
    transition: all $transition-speed;

    &.primary {
        color: $color-primary;
        background-color: $color-primary-background;
        border: 1px solid $color-primary-border;
    }

    &.secondary {
        color: $color-secondary;
        background-color: $color-secondary-background;
        border: 1px solid $color-secondary-border;
    }

    &.highlight {
        color: $color-secondary;
        background-color: transparent;
        border: 1px solid $color-secondary-border;
    }
    &:hover {
        border-radius: $border-radius-xs;
    }
    &:active {
        transform: translateY($active-size);
    }
}
